@charset "UTF-8";

 body { 	 
 	background-color: #bfffff;
 }
 .button { 
  background-color: #fff;
  color: #000;
  font-weight: bold;
}
input:disabled {
  color: #D9D9D9;
}
.table-border, .table-border td, .table-border th {
	border: 1px solid black;
	cellspacing: 3px;	
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a:hover:not(.active) {
    background-color: #00ffff;
    border-radius: 5px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  display: block;
  text-decoration: none;
  outline: none;
  transition: .4s ease-in-out;
}
.topmenu {
  backface-visibility: hidden;
  background: rgba(255,255,255,.8);
}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li > a {
  font-family: 'Exo 2', sans-serif;
  height: 45px;
  line-height: 45px;
  padding: 0 30px;
  font-weight: bold;
  color: #003559;
}
.down:after {
  margin-left: 8px;
  font-family: FontAwesome;
}
.topmenu li a:hover { color: #E6855F; }
.submenu {
  background: white;
  border: 2px solid #003559;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  width: 150px;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: .6s ease-in-out;
}
.topmenu > li:hover .submenu{
  visibility: visible;
  opacity: 1;
  transform: perspective(600px) rotateX(0deg);
}
.submenu li a {
  color: #7f7f7f;
  font-size: 13px;
  line-height: 30px;
  padding: 0 25px;
  font-family: 'Kurale', serif;
}
.reptitle{
	text-align:center;
	font-weight:800; 
}

.center {
    width: 400px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}
.alignRight{
    float:right;
}
 